@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,800;0,900;1,600;1,700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Roboto:wght@100;300;400;500;700;900&display=swap');


// Colors

$orange: #ff6600;
$darkOrange: #e05b02;
$tomato: #f54950;
$darkTomato: #cf2e2e;
$royalBlue: #236cb9;
$darkBlue: #337ab7;
$skyBlue: #43b8c5;
$white: #fff;
$black: #000;
$dark: #212121;
$gray: #333;
$gray1: #444;
$gray2: #4f4f4f;
$lightGray: #ccc;
$light: #eee;

// Fonts

$acmeFont: 'Acme', sans-serif;
$firaCodeFont: 'Fira Sans', sans-serif;
$robotoFont: 'Roboto', sans-serif;
$robotoMonoFont: 'Roboto Mono', monospace;